<div class="work-feature-block row">

  <!-- Using the centered version to have a side-by-side layout -->
  <!-- <img class="work-feature-block-image" src="<%= @front_url %>" alt="<%= @name %> front image."> -->
  <!-- <img class="work-feature-block-image" src="<%= @back_url %>" alt="<%= @name %> back image."> -->

  <center>
      <img src="<%= @front_url %>" alt="<%= @name %> front image.">
      <img src="<%= @back_url %>" alt="<%= @name %> back image.">
  </center>

  <h2 class="work-feature-block-header text-center"><strong><%= @name %></strong></h2>
</div>
<div class="work-feature-block row">
  <div class="col-xs-12">
    <label>Peso:</label>
    <p><%= @weight %></p>
    <label>Altura:</label>
    <p><%= @height %></p>
    <label>Habilidades:</label>
    <p><%= @abilities %></p>
    <label>Movimientos:</label>
    <p><%= @moves %></p>
  </div>
</div>
<div class="row">
  <%= link_to root_path, class:"btn btn-success btn-lg btn-block" do%>
    Volver
  <%end%>
</div>
